

.text-limit {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.seatMap {

}
.seatMap .svg-container  {
    border: 1px solid #000;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}
.seatMap .svg-container svg {
    touch-action: none;
}

.seat {
    --bg: "black";
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px var(--bg) solid;
    border-radius: 0 0 5px 5px;
}

.seat-text {
    width: 48px;
    height: auto;
    padding: 10px 5px;
    font-size: 12px;
    font-weight: 700;
    display: block;
    text-align: center;
}
